body {
  max-width: 750px;
  margin: 0 auto 25px;
  font-family: Georgia, 'Times New Roman', serif;
  color: #62504c;
  background-color: #FDFDFA;
}
a {
  color: #9a7e77;
}
h1, h2, h3, .shadow {
  color: #9a7e77;
  text-shadow: 0 1px 0 #62504c;
  clear: both;
}
h1 {
  padding-bottom: 10px;
  border-bottom: #62504c 1px dotted;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  line-height: 53px;
  margin: 20px 0;
}
.post h1,
h2 {
  padding-bottom: 0;
  border-bottom: none;
  text-align: left;
  font-weight: 100;
  font-size: 30px;
  line-height: 31px;
  margin: 1.1em 0 0 0;
}
.post h2,
h3 {
  font-weight: 100;
  font-size: 20px;
  line-height: 21px;
  margin: 1.1em 0 0 0;
}
p, ol, ul {
  font-size: 17px;
  line-height: 30px;
}
footer, footer h2,
nav {
  text-align: center;
}
  footer ul,
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    footer ul li,
    nav ul li {
      font-size: 17px;
      display: inline-block;
      margin: 0 1em;
      padding: 0;
      vertical-align: middle;
    }

.clear { clear: both; }
.right { float: right; }
.left { float: left; }

img.border,
.post img {
  border: 1px #62504c dotted;
}

.post img.floatright {
  float: right;
  margin-left: 10px;
}

#page-navigation {
  
}