<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} | Meemoo project by Forrest Oliphant</title>
  
  <link rel="alternate" type="application/rss+xml" title="Meemoo blog feed" href="http://feeds.feedburner.com/meemoo" />

  <link href="/css/meemoo.css" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
  <script type="text/javascript">
  /* <![CDATA[ */
      (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
          t.parentNode.insertBefore(s, t);
      })();
  /* ]]> */
  </script>
  
</head>
<body>
  
  <header>
    <h1>
      Meemoo hackable web apps
    </h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="http://meemoo.org/iframework/#gist/5110822">Intro</a></li>
        <li><a href="/hack-our-apps/">Gallery</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="https://github.com/meemoo">Source</a></li>
        <li><a href="#contact">Contact</a></li>
        <li>
          <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://meemoo.org/"></a>
          <noscript>
            <a href="http://flattr.com/thing/183497/Meemoo-a-web-application-for-remixing-web-video" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" /></a>
          </noscript>
        </li>
      </ul>
    </nav>
  </header>
  
  <div class="page clear">
    {{ content }}
  </div>

  <footer>
    <h2><a id="contact"></a>Get in touch!</h2>
    <ul>
      <li><a href="https://github.com/meemoo">Github</a></li>
      <li><a href="http://meemooapp.tumblr.com/">Tumblr</a></li>
      <li><a href="https://www.facebook.com/meemooapp">Facebook</a></li>
      <li><a href="https://twitter.com/forresto">Twitter</a></li>
      <li><a href="http://pinterest.com/forresto/design-for-hackability/">Pinterest</a></li>
      <li id="writeme">forrest/ätt/sembiki/døt/com</li>
    <ul>
  </footer>
  
  

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-274009-19']);
  _gaq.push(['_trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script type="text/javascript">
  (function() {
    var s = "=b!isfg>#nbjmup;gpssftuAtfncjlj/dpn@tvckfdu>tjuf&31jorvjsz#?gpssftuAtfncjlj/dpn=0b?";
    var link = "";
    for (i=0; i<s.length; i++) {
      link += String.fromCharCode(s.charCodeAt(i)-1); 
    }
    console.log(link);
    link = link.replace("site%20inquiry", "Meemoo");
    document.getElementById('writeme').innerHTML = link;
  })();
</script>

</body>
</html>
