---
layout: default
---

<div class="post clear">
  <h1><a href="{{ page.url }}" style="text-decoration:none;">{{ page.title }}</a></h1>
  <p>{{ page.date | date_to_string }}</p>
  {{ content }}
</div>

<div id="page-navigation"> 
  <div class="clear">&nbsp;</div> 
    <div class="left"> 
      {% if page.previous.url %} 
        <a href="{{page.previous.url}}" title="Previous Post: 
        {{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
      {% endif %} 
    </div> 
    <div class="right"> 
      {% if page.next.url %} 
         <a href="{{page.next.url}}" title="next Post: 
         {{page.next.title}}">{{page.next.title}} &raquo; </a> 
      {% endif %} 
    </div> 
  <div class="clear">&nbsp;</div> 
</div>

{% if page.tags %} 
<ul class="tags">
  {% for tag in page.tags %}
  <li class="tag">{{ tag }}</li>
  {% endfor %}
</ul>
<div class="clear">&nbsp;</div> 
{% endif %}
 
<h2>Discussion</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'meemooapp';
  var disqus_identifier = '{{ page.url }}';
  var disqus_url = 'http://meemoo.org{{ page.url }}';
  var disqus_title = '{{ page.title | cgi_escape }}';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
